target/
.DS_Store
**/ios_build
.swiftpm/

# IDE
.idea
*.iml
.vscode
*/settings.json

# Swift build outputs are not committed to this repo.
WalletKit.xcframework/
Sources/

.build/

.env

# forge
cache/
**/out/build-info

# NOTE: Cargo.lock is not ignored because it is used for FFI builds (Swift & Kotlin)
