[workspace]
members = ["uniffi-bindgen", "walletkit-core", "walletkit", "wasm"]
resolver = "2"

[workspace.package]
version = "0.1.8"
license = "MIT"
edition = "2021"
authors = ["World Contributors"]
readme = "./README.md"
homepage = "https://docs.world.org"                             # TODO: Update to specific WalletKit page
rust-version = "1.86"                                           # MSRV
repository = "https://github.com/worldcoin/walletkit"
exclude = ["tests/", "uniffi-bindgen/"]
keywords = ["ZKP", "WorldID", "World", "Identity", "Semaphore"]
categories = ["api-bindings", "cryptography::cryptocurrencies"]


[workspace.dependencies]
alloy-core = { version = "1", default-features = false, features = [
    "sol-types",
] }
alloy-primitives = { version = "1", default-features = false }
walletkit-core = { version = "0.1.8", path = "walletkit-core", default-features = false }
uniffi = { version = "0.29", default-features = false }
world-id-core = { git = "https://github.com/worldcoin/world-id-protocol", rev = "8041ac3", default-features = false, features = [
    "authenticator",
] }
wasm-bindgen = "0.2"
wasm-bindgen-futures = "0.4"
js-sys = "0.3"
web-sys = { version = "0.3", features = [] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[profile.release]
opt-level = 'z' # Optimize for size.
lto = true      # Enable Link Time Optimization.
strip = true    # Automatically strip symbols from the binary.
panic = "abort"
debug = false
