[workspace]
members = ["uniffi-bindgen","walletkit-core", "walletkit"]
resolver = "2"

[workspace.package]
version = "0.3.3"
license = "MIT"
edition = "2021"
authors = ["World Contributors"]
readme = "./README.md"
homepage = "https://docs.world.org" # TODO: Update to specific WalletKit page
rust-version = "1.91" # MSRV
repository = "https://github.com/worldcoin/walletkit"
exclude = ["tests/", "uniffi-bindgen/"]
keywords = ["ZKP", "WorldID", "World", "Identity", "Semaphore"]
categories = ["api-bindings", "cryptography::cryptocurrencies"]


[workspace.dependencies]
alloy-core = { version = "1", default-features = false, features = ["sol-types"] }
alloy-primitives = { version = "1", default-features = false }
walletkit-core = { version = "0.3.3", path = "walletkit-core", default-features = false }
uniffi = { version = "0.29", features = ["build", "tokio"] }
world-id-core = { version = "0.3", git = "https://github.com/worldcoin/world-id-protocol.git", rev = "6dc7c42e6cfd9f1d2563e88fa6d0f2e20114edbb", default-features = false, features = ["authenticator", "embed-zkeys"] }

[profile.release]
opt-level = 'z' # Optimize for size.
lto = true      # Enable Link Time Optimization.
panic = "abort"
debug = false

[patch.crates-io]
taceo-oprf-core = { version = "0.3", git = "https://github.com/TaceoLabs/oprf-service.git", rev = "a6b774d" }
taceo-oprf-types = { version = "0.4", git = "https://github.com/TaceoLabs/oprf-service.git", rev = "a6b774d" }
taceo-oprf-client = { version = "0.3", git = "https://github.com/TaceoLabs/oprf-service.git", rev = "a6b774d" }
taceo-oprf-service = { version = "0.3", git = "https://github.com/TaceoLabs/oprf-service.git", rev = "a6b774d" }
