[build.env]
passthrough = [
    "CARGO_NET_GIT_FETCH_WITH_CLI=true", # to force cargo to use git cli with config --global in homedir
    "HOME",                              # set $HOME to shared dir where we put .gitconfig
    "RUSTUP_HOME",                       # override rustup home to prevent host permission issues
    "CARGO_HOME",                        # override cargo home to prevent host permission issues
    "OPENSSL_DIR",
    "OPENSSL_INCLUDE_DIR",
    "OPENSSL_LIB_DIR",
    "PKG_CONFIG_ALLOW_CROSS",
    "PKG_CONFIG_PATH",
    "C_INCLUDE_PATH",
    "CPATH",
    "CFLAGS_aarch64_linux_android",
    "CFLAGS_armv7_linux_androideabi",
    "CFLAGS_x86_64_linux_android",
    "CFLAGS_i686_linux_android",
    "CC_aarch64_linux_android",
    "CC_armv7_linux_androideabi",
    "CC_x86_64_linux_android",
    "CC_i686_linux_android",
]
# max-page-size=16384:
# Android 15 (API 35) introduces support for 16KB page sizes to improve performance on devices with larger RAM.
# Apps with native libraries MUST be compiled with 16KB ELF alignment or they will crash on startup
# on devices configured with 16KB page sizes. This flag ensures proper alignment for both 32-bit and 64-bit targets.
# Reference: https://developer.android.com/guide/practices/page-sizes
RUSTFLAGS = "-C link-arg=-Wl,-z,max-page-size=16384"

[build]
pre-build = [
    "dpkg --add-architecture $CROSS_DEB_ARCH",
    "apt-get update && apt-get --assume-yes install pkg-config:$CROSS_DEB_ARCH",
    "export PKG_CONFIG_ALLOW_CROSS=1",
    "export PKG_CONFIG_LIBDIR=/usr/lib/$CROSS_DEB_ARCH/pkgconfig:/usr/lib/$CROSS_DEB_ARCH/lib/pkgconfig:/usr/share/pkgconfig",
]
