[package]
name = "walletkit-core"
description = "Reference implementation for the World ID Protocol. Core functionality to use a World ID."


version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
exclude.workspace = true
readme.workspace = true
keywords.workspace = true
categories.workspace = true


[lib]
crate-type = ["lib", "staticlib", "cdylib"]
name = "walletkit_core"

[dependencies]
alloy-core = { workspace = true }
alloy-primitives = { workspace = true }
bincode = "1.3"
chacha20poly1305 = "0.10"
hex = "0.4"
hkdf = "0.12"
log = "0.4"
rand = "0.8"
reqwest = { version = "0.12", default-features = false, features = [
    "json",
    "brotli",
    "rustls-tls",
] }
ruint = { version = "1.17", default-features = false, features = [
    "alloc",
    "ark-ff-04",
] }
secrecy = "0.10"
semaphore-rs = { version = "0.5" }
serde = "1"
serde_json = "1"
sha2 = "0.10"
strum = { version = "0.27", features = ["derive"] }
subtle = "2"
thiserror = "2"
tokio = { version = "1", features = ["sync"] }
rusqlite = { version = "0.32", features = ["bundled-sqlcipher-vendored-openssl"] }
uuid = { version = "1.10", features = ["v4"] }
uniffi = { workspace = true, features = ["build", "tokio"] }
world-id-core = { workspace = true, optional = true }

[dev-dependencies]
alloy = { version = "1", default-features = false, features = ["getrandom", "json", "contract", "node-bindings", "signer-local"] }
chrono = "0.4.41"
dotenvy = "0.15.7"
mockito = "1.6"
regex = "1.11"
rustls = { version = "0.23", features = ["ring"] }
tokio-test = "0.4"
world-id-core = { workspace = true }
rand = "0.8"

[features]
default = ["common-apps", "semaphore", "v4"]
common-apps = []
http-tests = []
semaphore = ["semaphore-rs/depth_30"]
v4 = ["world-id-core"]

# Before conventions were introduced for external nullifiers with `app_id` & `action`, raw field elements were used.
# This feature flag adds support to operate with such external nullifiers.
legacy-nullifiers = []

[package.metadata.docs.rs]
no-default-features = true
