[package]
name = "walletkit-core"
description = "Reference implementation for the World ID Protocol. Core functionality to use a World ID."


version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
exclude.workspace = true
readme.workspace = true
keywords.workspace = true
categories.workspace = true


[lib]
crate-type = ["lib", "staticlib", "cdylib"]
name = "walletkit_core"

[dependencies]
alloy-core = { workspace = true }
alloy-primitives = { workspace = true }
hex = "0.4"
log = "0.4"
reqwest = { version = "0.12", default-features = false, features = [
    "json",
    "brotli",
    "rustls-tls",
] }
ruint = { version = "1.17", default-features = false, features = [
    "alloc",
    "ark-ff-04",
] }
secrecy = "0.10"
semaphore-rs = { version = "0.5" }
serde = "1"
serde_json = "1"
strum = { version = "0.27", features = ["derive"] }
subtle = "2"
thiserror = "2"
tokio = { version = "1.47", features = ["sync"], optional = true }
uniffi = { workspace = true, optional = true, features = ["build", "tokio"] }
world-id-core = { git = "https://github.com/worldcoin/world-id-protocol", rev = "e631f1a", features = ["authenticator"], optional = true }

[dev-dependencies]
alloy = { version = "1", default-features = false, features = ["getrandom", "json", "contract", "node-bindings", "signer-local"] }
chrono = "0.4.41"
dotenvy = "0.15.7"
mockito = "1.6"
regex = "1.11"
tokio = "1.47"
tokio-test = "0.4"

[features]
default = ["common-apps", "ffi", "semaphore", "v4"]
common-apps = []
ffi = ["dep:uniffi", "dep:tokio", "semaphore"]
http-tests = []
semaphore = ["semaphore-rs/depth_30"]
v4 = ["world-id-core"]

# Before conventions were introduced for external nullifiers with `app_id` & `action`, raw field elements were used.
# This feature flag adds support to operate with such external nullifiers.
legacy-nullifiers = []

[package.metadata.docs.rs]
no-default-features = true
