name: Release

on:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  pre-release-checks:
    if: github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'release') && github.event.pull_request.user.login == 'github-actions[bot]'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      new_version: ${{ steps.version.outputs.new_version }}
      commit_sha: ${{ github.sha }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Get new version
        id: version
        run: |
          NEW_VERSION=$(cargo metadata --no-deps --format-version 1 | jq -r '.workspace_members[0]' | cut -d '#' -f2)
          echo "new_version=$NEW_VERSION" >> $GITHUB_OUTPUT

      - name: Check latest published version
        id: latest_version
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          LATEST_RELEASE=$(curl -s -H "Authorization: Bearer $GITHUB_TOKEN" \
            "https://api.github.com/repos/${{ github.repository }}/releases/latest" | \
            jq -r .tag_name | sed 's/^v//')

          echo "Latest release: $LATEST_RELEASE"

          NEW_VERSION="${{ steps.version.outputs.new_version }}"

          echo "New version: $NEW_VERSION"

          # Ensure the new version is greater than the latest published version
          if ! { [ "$(printf '%s\n' "$LATEST_RELEASE" "$NEW_VERSION" | sort -V | tail -n1)" = "$NEW_VERSION" ] && \
                 [ "$NEW_VERSION" != "$LATEST_RELEASE" ]; }; then
            echo "Error: New version ($NEW_VERSION) is not greater than latest release ($LATEST_RELEASE)"
            exit 1
          fi

  build-swift:
    runs-on: macos-latest
    needs: pre-release-checks
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ needs.pre-release-checks.outputs.commit_sha }} # to ensure all builds are consistent

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.92.0
          targets: aarch64-apple-ios-sim,aarch64-apple-ios,x86_64-apple-ios
          components: rustfmt

      # Includes temporary downstream UniFFI callback vtable patch:
      # https://github.com/mozilla/uniffi-rs/pull/2821
      - name: Build the project (iOS, with temporary UniFFI ASan workaround)
        run: ./swift/build_swift.sh

      - name: Compress XCFramework binary
        run: |
          zip -r WalletKit.xcframework.zip swift/WalletKit.xcframework

      - name: Checkout swift repo
        uses: actions/checkout@v6
        with:
          repository: worldcoin/walletkit-swift
          token: ${{ secrets.WALLETKIT_BOT_TOKEN }}
          path: target-repo

      - name: Create draft release in walletkit-swift & upload binaries
        uses: softprops/action-gh-release@v2
        id: release
        with:
          repository: worldcoin/walletkit-swift
          name: ${{ needs.pre-release-checks.outputs.new_version }}
          tag_name: ${{ needs.pre-release-checks.outputs.new_version }}
          make_latest: false
          draft: true
          fail_on_unmatched_files: true
          files: WalletKit.xcframework.zip
          token: ${{ secrets.WALLETKIT_BOT_TOKEN }}

      - name: Get metadata
        id: meta
        run: |
          ASSET_URL="${{ fromJSON(steps.release.outputs.assets)[0].url }}.zip"
          echo "asset_url=${ASSET_URL}" >> $GITHUB_OUTPUT

          CHECKSUM=$(swift package compute-checksum WalletKit.xcframework.zip)
          echo "checksum=${CHECKSUM}" >> $GITHUB_OUTPUT

      - name: Commit swift build
        env:
          GITHUB_TOKEN: ${{ secrets.WALLETKIT_BOT_TOKEN }}
          ASSET_URL: ${{ steps.meta.outputs.asset_url }}
          CHECKSUM: ${{ steps.meta.outputs.checksum }}
          NEW_VERSION: ${{ needs.pre-release-checks.outputs.new_version }}

        run: |
          # Copy non-binary source files
          cp -r swift/Sources/ target-repo/Sources

          # Prepare Package.swift
          brew install swiftlint
          ./swift/archive_swift.sh --asset-url "$ASSET_URL" --checksum "$CHECKSUM" --release-version "$NEW_VERSION"
          cp Package.swift target-repo/

          # Commit changes
          cd target-repo
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add .
          git commit -m "Release $NEW_VERSION"

          # Tag the release
          git tag $NEW_VERSION
          git push
          git push origin $NEW_VERSION

  prepare-kotlin:
    name: Prepare Kotlin
    runs-on: ubuntu-22.04-32core
    needs: [pre-release-checks]
    permissions:
      contents: write # to upload artifacts

    # Each target is built separately to run in parallel. Running sequentially takes vastly more time.
    strategy:
      fail-fast: true
      matrix:
        settings:
          - target: aarch64-linux-android
          - target: armv7-linux-androideabi
          - target: x86_64-linux-android
          - target: i686-linux-android

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ needs.pre-release-checks.outputs.commit_sha }} # to ensure all builds are consistent

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.92.0
          targets: ${{ matrix.settings.target }}
          components: rustfmt

      - name: Install Cross
        run: |
          cargo install cross --git https://github.com/cross-rs/cross --locked

      - name: Build for target
        run: |
          CROSS_NO_WARNINGS=0 cross build -p walletkit --target ${{ matrix.settings.target }} --release --locked

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: android-${{ matrix.settings.target }}
          path: ./target/${{ matrix.settings.target }}/release/libwalletkit.so
          if-no-files-found: error

  publish-kotlin:
    name: Publish Kotlin
    runs-on: ubuntu-latest
    needs: [pre-release-checks, prepare-kotlin]
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ needs.pre-release-checks.outputs.commit_sha }} # to ensure all builds are consistent

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.92.0
          targets: aarch64-linux-android,armv7-linux-androideabi,x86_64-linux-android,i686-linux-android
          components: rustfmt

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: .

      - name: Move artifacts
        run: |
          mkdir -p kotlin/walletkit/src/main/jniLibs && cd kotlin/walletkit/src/main/jniLibs
          mkdir armeabi-v7a arm64-v8a x86 x86_64
          mv /home/runner/work/walletkit/walletkit/android-armv7-linux-androideabi/libwalletkit.so ./armeabi-v7a/libwalletkit.so
          mv /home/runner/work/walletkit/walletkit/android-aarch64-linux-android/libwalletkit.so ./arm64-v8a/libwalletkit.so
          mv /home/runner/work/walletkit/walletkit/android-i686-linux-android/libwalletkit.so ./x86/libwalletkit.so
          mv /home/runner/work/walletkit/walletkit/android-x86_64-linux-android/libwalletkit.so ./x86_64/libwalletkit.so

      - name: Generate bindings
        working-directory: kotlin
        run: cargo run -p uniffi-bindgen generate ./walletkit/src/main/jniLibs/arm64-v8a/libwalletkit.so --library --language kotlin --no-format --out-dir walletkit/src/main/java

      - name: Publish
        working-directory: kotlin
        run: ./gradlew walletkit:publish
        env:
          GITHUB_ACTOR: wld-walletkit-bot
          GITHUB_TOKEN: ${{ github.token }}

  create-github-release:
    needs: [pre-release-checks, publish-kotlin, build-swift]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Create Release in main repo
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ needs.pre-release-checks.outputs.new_version }}
          tag_name: ${{ needs.pre-release-checks.outputs.new_version }}
          generate_release_notes: true
          make_latest: true

      - name: Create Release in swift repo
        env:
          GH_TOKEN: ${{ secrets.WALLETKIT_BOT_TOKEN }}
        run: |
          gh release edit ${{ needs.pre-release-checks.outputs.new_version }} \
            --repo worldcoin/walletkit-swift \
            --draft=false \
            --latest

  publish-to-crates-io:
    needs: [pre-release-checks, create-github-release]
    runs-on: ubuntu-latest
    environment: production
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ needs.pre-release-checks.outputs.commit_sha }} # to ensure all builds are consistent

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.92.0

      - uses: rust-lang/crates-io-auth-action@v1
        id: auth

      - name: Publish to crates.io
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
        run: |
          cargo publish --token $CARGO_REGISTRY_TOKEN --package walletkit-core --locked
          cargo publish --token $CARGO_REGISTRY_TOKEN --package walletkit --locked
